<!-- Modal de Alertas -->
<div class="modal fade" id="modalAlertaPDV" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header text-dark" style="background-color: #FFC107;">
        <h5 class="modal-title fw-bold"><i class="bi bi-exclamation-triangle-fill me-2"></i>Atenção Necessária</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-6 text-dark" id="textoModalAlerta">
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn fw-bold text-white" style="background-color: var(--azul-escuro);" data-bs-dismiss="modal">Cancelar Operação</button>
        <button type="button" class="btn btn-danger fw-bold" id="btnConfirmarModal">Sim, Autorizar Venda</button>
      </div>
    </div>
  </div>
</div>
