{% extends 'inventario/base.html' %}

{% block content %}
<div class="row g-4 mt-2 justify-content-center">
    <div class="col-md-2">
        <a href="{% url 'tela_pdv' %}" class="text-decoration-none">
            <div class="card shadow-sm border-0 h-100 text-center p-3" style="background-color: #f8f9fa;">
                <div class="fs-1 mb-2"><i class="bi bi-cart-fill" style="color: #C60C30;"></i></div>
                <h6 class="fw-bold text-dark">Caixa PDV</h6>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'tela_painel_estoque' %}" class="text-decoration-none">
            <div class="card shadow-sm border-0 h-100 text-center p-3" style="background-color: #f8f9fa;">
                <div class="fs-1 mb-2"><i class="bi bi-box-seam" style="color: #C60C30;"></i></div>
                <h6 class="fw-bold text-dark">Estoque</h6>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'tela_consultar_clientes' %}" class="text-decoration-none">
            <div class="card shadow-sm border-0 h-100 text-center p-3" style="background-color: #f8f9fa;">
                <div class="fs-1 mb-2"><i class="bi bi-people-fill" style="color: #C60C30;"></i></div>
                <h6 class="fw-bold text-dark">Clientes</h6>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'painel_tintometrico' %}" class="text-decoration-none">
            <div class="card shadow-sm border-0 h-100 text-center p-3" style="background-color: #f8f9fa;">
                <div class="fs-1 mb-2"><i class="bi bi-palette-fill" style="color: #C60C30;"></i></div>
                <h6 class="fw-bold text-dark">Tintométrico</h6>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="{% url 'tela_painel_gerencia' %}" class="text-decoration-none">
            <div class="card shadow-sm border-0 h-100 text-center p-3" style="background-color: #f8f9fa;">
                <div class="fs-1 mb-2"><i class="bi bi-gear-fill" style="color: #C60C30;"></i></div>
                <h6 class="fw-bold text-dark">Gerência</h6>
            </div>
        </a>
    </div>
</div>
{% endblock %}
